#titulo {
    color: red;
}

nav {
    margin: 16px 16px 16px 16px;
}

#home {
    color: black;
    background-color: red;
}

#estoque {
    color: black;
    background-color: red;
}

#produtos {
    color: black;
    background-color: red;
}

#funcionarios {
    color: black;
    background-color: red; 
}